<form action="/todos/add-todos" method="post" class="modal fade" id="{% if modal_btn == 'modal_add' %}{{modal_btn}}{% else %}modal-desc-{{task_detail.id}}{% endif %}" tabindex="-1" aria-labelledby="todo_modal" aria-hidden="true">
  {% csrf_token %}
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary-subtle px-3 py-2">
        <h1 class="modal-title fs-5" id="todoModalLabel">Add Todo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="input-group flex-nowrap mb-3">
            <span class="input-group-text text-warning" id="addon-wrapping">
              Task Title &emsp;&emsp;&emsp;
            </span>
            <input
              type="text"
              class="form-control"
              aria-describedby="addon-wrapping"
              {% if task_detail %}
              value="{{task_detail.title}}"
              {% endif %}
              name="title"
            />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text text-info">Task Description</span>
            <input 
              type="text" aria-label="Task Description" 
              class="form-control" 
              {% if task_detail %}
              value="{{task_detail.description}}"
              {% endif %}
              name="desc"
              />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text text-info">Task Status &emsp;&emsp;</span>
            <input 
              type="text" aria-label="Task Status" 
              class="form-control" 
              {% if task_detail %}
              value="{{task_detail.get_status_display}}"
              {% endif %}
              name="status"
              />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text text-info">Task Progress &emsp;</span>
            <input 
              type="text" aria-label="Task Progress" 
              class="form-control" 
              {% if task_detail %}
              value="{{task_detail.progress}}"
              {% endif %}
              name="progress"
              />
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        {% if modal_btn == 'modal_add' %}
        <button type="submit" class="btn btn-primary">Save changes</button>
        {% endif %}
      </div>
    </div>
</form>