<div class="col-2 border">
    <nav class="nav nav-pills nav-justified d-flex flex-column">
        <a class="nav-link m-1 mt-3 border-bottom {% if selected_nav == 1 %} active {% endif %}" href="{% url 'todo_list' %}">Todo List</a>
        <a class="nav-link m-1 border-bottom {% if selected_nav == 2 %} active {% endif %}" href="{% url 'add-todos' %}">Add Todos</a>
        <a class="nav-link m-1 border-bottom {% if selected_nav == 3 %} active {% endif %}" aria-current="page" href={% url "index" %} id="index-link">Active</a>
        <a class="nav-link m-1 border-bottom {% if selected_nav == 4 %} active {% endif %}" href="{% url 'another-link' %}" id="second-link">Another link</a>
    </nav>
</div>