{% extends "base.html"%}
{% load static %}
{% block links %}
  <link rel="stylesheet" href="{% static 'todos/css/todos.css' %}">
{% endblock %}
{% block nav %}
  {% include "./nav.html" with active_page=active_page name=name %}
{% endblock %}
{% block body_content %}
<div class="container-fluid">
  <div class="row">
    {% include "./second_nav.html" %}
    <div class="col-10 border border-start-0">
      <div class="col {% if selected_nav == 2 %} pb-3 {% else %} mt-2 {% endif %} border-bottom">
        {% block form_inp %}
        {% endblock %}
      </div>
      {% if not task_detail %}
      <div class="col">
        <h5 class="">Todo List</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Sr.</th>
              <th>Todo Title</th>
              <th>Todo Desc</th>
              <th>Todo Status</th>
              <th>Progress%</th>
              <th>Created At</th>
              <th>Modified At</th>
              <th>Completed At</th>
            </tr>
          </thead>
          <tbody>
            {% for todo in todos_list %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a href="{{ todo.get_absolute_url }}">{{ todo.title }}</a></td>
              <td>{{ todo.description }}</td>
              <td>
                <button class="btn {% if todo.status == 'C' %}btn-success{% elif todo.status == 'P'%}btn-warning{% elif todo.status == 'F'%}btn-danger{% else %}btn-info{% endif %}">
                  {{ todo.status }}
                </button>
              </td>
              <td>{{ todo.progress }}%</td>
              <td>{{ todo.created_at }}</td>
              <td>{{ todo.updated_at }}</td>
              <td>{{ todo.completed_at }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
  {% include "footer.html" %}
{% endblock %}
{% block js %}
<script src="{% static 'todos/js/app.js' %}"></script>
<script>

</script>
{% endblock %}