{% extends "base.html"%}
{% load static %}
{% block links %}
  <link rel="stylesheet" href="{% static 'todos/css/todos.css' %}">
{% endblock %}
{% block nav %}
  {% include "nav.html" with active_page=active_page name=name %}
{% endblock %}
{% block body_content %}
<div class="container-fluid">
  <div class="row">
    {% include "./second_nav.html" %}
    <div class="col-10 border border-start-0">
      <div class="col {% if selected_nav == 2 %} pb-3 {% else %} mt-2 {% endif %} border-bottom">
        {% include './create_todos.html' with task_detail=task_detail modal_btn='modal_add' form=todo_form todo_status=todo_status %}
      </div>
      {% if not task_detail %}
      <div class="col">
        <div class="d-flex justify-content-between bg-primary-subtle p-2">
          <h5 class="m-0 mt-1">Todo List</h5>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_add">
            Add Todo
          </button>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Sr.</th>
              <th>Todo Title</th>
              <th>Todo Desc</th>
              <th>Todo Status</th>
              <th>Progress%</th>
              <th class="text-nowrap">Created At</th>
              <th class="text-nowrap">Updated At</th>
              <th class="text-nowrap">Completed At</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for todo in todos_list %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ todo.title }}</td>
              <td>{{ todo.description }}</td>
              <td class="text-center text-nowrap">
                <button class="btn {% if todo.status == 'C' %}btn-success{% elif todo.status == 'P'%}btn-warning{% elif todo.status == 'F'%}btn-danger{% else %}btn-info{% endif %}">
                  {{ todo.get_status_display }}
                </button>
              </td>
              <td>{{ todo.progress }}%</td>
              <td class="text-nowrap">{{ todo.created_at|date:"d M Y" }}</td>
              <td>{% if todo.updated_at %} {{ todo.updated_at|date:"d M Y" }} {% else %} - {% endif %}</td>
              <td>{% if todo.completed_at %} {{ todo.completed_at|date:"d M Y" }} {% else %} - {% endif %}</td>
              <td>
                <div class="d-flex">
                  <a class="btn btn-success btn-sm" href="{% url 'mark_completed' todo.id %}" 
                    data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="click to mark complete the todo"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                      <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5z"/>
                      <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0"/>
                    </svg>
                  </a>
                  <button class="btn btn-primary btn-sm mx-1" data-bs-toggle="modal" data-bs-target="#modal-desc-{{todo.id}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                  </button>
                  <div>
                    {% include './create_todos.html' with task_detail=todo %}
                  </div>
                  <a class="btn btn-danger btn-sm" href="{% url 'delete-task' todo.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                    </svg>
                  </a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
  {% include "footer.html" %}
{% endblock %}
{% block js %}
<script src="{% static 'todos/js/app.js' %}"></script>
<script>

</script>
{% endblock %}