{% extends "base.html"%}
{% load static %}
{% block links %}
  <link rel="stylesheet" href="{% static 'todos/css/todos.css' %}">
{% endblock %}
{% block nav %}
  {% include "./nav.html" with active_page=active_page name=name %}
{% endblock %}
{% block body_content %}
<div class="container-fluid">
  <div class="row">
    {% include "./second_nav.html" %}
    <div class="col-10 border border-start-0">
      <div class="col {% if selected_nav == 2 %} pb-3 {% else %} mt-2 {% endif %} border-bottom">
        {% block form_inp %}
        {% endblock %}
      </div>
      <div class="col">
        <h5 class="">Todo List</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Sr.</th>
              <th>Todo Title</th>
              <th>Todo Desc</th>
              <th>Todo Status</th>
            </tr>
          </thead>
          <tbody>
            {% for todo in todos_list %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ todo.title }}</td>
              <td>{{ todo.desc }}</td>
              <td>
                {% if todo.status %}
                <button class="btn btn-success">
                  Task Completed
                </button>
                {% else %}
                  <div>
                    <button class="btn btn-warning">
                      Task in progress
                    </button>
                  </div>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
  {% include "footer.html" %}
{% endblock %}
{% block js %}
<script src="{% static 'todos/js/app.js' %}"></script>
<script>

</script>
{% endblock %}